<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  </head>
  <body>

    <div ng-controller="ctrlRead">
      <h4>ブレイブリーデフォルト 調合</h4>
      <p ng-repeat="item in items | filter:{description:value2}">名前：{{item.name}} , 説明：{{item.description}}</p>
      <br />何か入力してみて下さい。<br /><input ng-model="value2" /><br /><br />
    </div>

    <script>
     function ctrlRead($scope) {
       $scope.items = [
         {"name":        "ポーション",
          "description": "対象のＨＰを300回復する"},
         {"name":        "ハイポーション",
          "description": "対象のＨＰを1,000回復する"}
       ];
     };
    </script>
  </body>
</html>
