<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  </head>
  <body>

    <h1>ブレイブリーデフォルト 調合</h1>

    <div ng-controller="ctrlRead">
      <h2>アイテム１</h2>
      <input type="radio" ng-model="query.name" name="item1" value="">全部
      <input type="radio" ng-model="query.name" name="item1" value="ポーション">ポーション
      <input type="radio" ng-model="query.name" name="item1" value="ハイポーション">ハイポーション
      <input type="radio" ng-model="query.name" name="item1" value="エリクサー">エリクサー

      <h2>アイテム２</h2>
      <ul ng-repeat="item in items | filter:query">
        <li type="radio" name="item2" value="{{item.id}}">{{item.name}} , {{item.description}}</li>
      </ul>
    </div>

    <script>
     function ctrlRead($scope) {
       $scope.items = [
         {"id":           1,
          "name":        "ポーション",
          "description": "HPを150回復する"},
         {"id":           2,
          "name":        "ハイポーション",
          "description": "HPを500回復する"},
         {"id":           3,
          "name":        "エクスポーション",
          "description": "HPを1500回復する"},
         {"id":           4,
          "name":        "フェニックスの尾",
          "description": "戦闘不能を回復する"},
         {"id":           5,
          "name":        "エーテル",
          "description": "MPを40回復する"},
         {"id":           6,
          "name":        "エーテルターボ",
          "description": "MPを150回復する"},
         {"id":           7,
          "name":        "エリクサー",
          "description": "HPとMPを全回復する"},
         {"id":           8,
          "name":        "ラストエリクサー",
          "description": "パーティ全体のHPとMPを全回復する"}
       ];
     };
    </script>
  </body>
</html>
