<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>

    <h1>ブレイブリーデフォルト 調合</h1>

    <div class="row" ng-controller="ctrlRead">
      <div class="col-md-6">
        <h2>アイテム１</h2>
        <ul>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_01" value="獣の肝"><label for="item1_01">獣の肝（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_02" value="硬い鱗"><label for="item1_02">硬い鱗（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_03" value="虫の触角"><label for="item1_03">虫の触角（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_04" value="魔物の繊維"><label for="item1_04">魔物の繊維（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_05" value="死霊の骨"><label for="item1_05">死霊の骨（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_06" value="悪魔の尻尾"><label for="item1_06">悪魔の尻尾（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_07" value="竜の牙"><label for="item1_07">竜の牙（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_08" value="フロギストン"><label for="item1_08">フロギストン（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_09" value="六花晶"><label for="item1_09">六花晶（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_10" value="妖精の羽根"><label for="item1_10">妖精の羽根（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_11" value="稲妻の欠片"><label for="item1_11">稲妻の欠片（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_12" value="砂のバラ"><label for="item1_12">砂のバラ（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_13" value="ピカピカ虫"><label for="item1_13">ピカピカ虫（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_14" value="ダークマター"><label for="item1_14">ダークマター（調合専用アイテム）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_15" value="ポーション"><label for="item1_15">ポーション（HPを150回復する）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_16" value="ハイポーション"><label for="item1_16">ハイポーション（HPを500回復する）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_17" value="エクスポーション"><label for="item1_17">エクスポーション（HPを1500回復する）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_18" value="フェニックスの尾"><label for="item1_18">フェニックスの尾（戦闘不能を回復する）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_19" value="エーテル"><label for="item1_19">エーテル（MPを40回復する）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_20" value="エーテルターボ"><label for="item1_20">エーテルターボ（MPを150回復する）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_21" value="どくけし"><label for="item1_21">どくけし（毒状態を回復する）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_22" value="目薬"><label for="item1_22">目薬（暗闇状態を回復する）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_23" value="やまびこ草"><label for="item1_23">やまびこ草（沈黙状態を回復する）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_24" value="目覚まし"><label for="item1_24">目覚まし（睡眠状態を回復する）</label></li>
          <li><input type="radio" ng-model="query.item1" name="item1" id="item1_25" value="安息香"><label for="item1_25">安息香（恐怖状態を回復する）</label></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>アイテム２</h2>
        <ul>
          <li ng-repeat="combination in combinations | filter:query">
            {{combination.item2}} → {{combination.result}}（{{combination.description}}
          </li>
        </ul>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
